* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 10px;
    display: flex;
    background: linear-gradient(to right, white 90px, rgb(49, 94, 153));
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 80px; 
}

.nav__item__blue {
    color: rgb(49, 94, 153);
    font-size: 20px;
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}

.header__logo-wrapper .nav__item__blue {
    font-size: 35px;
}

.nav a {
    margin: 28px;
    color: white;
    font-size: 20px ;
}

.aside {
    width: 15%;

}

.aside__wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.aside .nav__item__blue {
    margin: 10px;
}

.main__wrapper{
    display: flex;
    flex-direction: column;
    padding: 28px;
    align-items: center;
}

.main__pictures {
    width: 600px;
    margin-top: 20px;
}

.main p {
    width: 700px;
    font-size: 20px ;
}

.smile {
    width: 250px;
    margin-top: 30px;
}


.footer {
    display: flex;
    background: linear-gradient(to right, rgb(49, 94, 153) 90px, white );
    flex-direction: column;
}

.footer a {
    display: flex;
    padding: 15;
    justify-content: end;
}

.footer__wrapper {
    padding: 20px;
}